div {
    text-align: center
}
li {
    display: inline;
}
a {
    color: black;
    font-family: monospace;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    height: 1px;
    width: 100px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
}
.style-line1 {
    border: 1px solid black;
    max-width: 600px;
    margin-bottom: 0;
}
.style-line2 {
    border: 0.5px solid black;
    max-width: 600px;
    margin-top: 0;
}
a:active {
    color: orange;
}
p {
    font-family: monospace;
    max-width: 450px;
    display: inline-block;
}
ul {
    margin: 10px;
}
/*žinau, kad šią vietą ne taip reikėjo padaryti, tačiau, nieko daugiau nesugalvoju*/
.Main-Page {
    color: orange;
}
