    label {
    width: 200px;
    display: inline-block
}
.input-style {
    border-radius: 4px;
    width: 200px;
    height: 20px;
    margin: 2px;
}
#submit-style {
    border-radius: 4px;
    width: 410px;
    height: 30px;
}
.fieldset-style1 {
    background-color: #fff6a3;
    border: 0;
}
.fieldset-style2 {
    background-color: #c2ffbd;
    border: 0;
}
table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
   background-color: #4e4180;
}
/*failo negaliu pabaigti iki pirmadienio dėl akių uždegimo, pažadu pabaigti pirmadienį dienos metu*/
